.Codeblockcontainer {
  color: #f8f8f2;
  background-color: #272822;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.Codeblockcontainer-data {
  float: left;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  text-wrap: inherit;
}
.CopyBtn-cnt {
  float: right;
  width: 30%;
  text-align: right;
  cursor: pointer;
}
.CopyBtn {
}
