.comment {
  padding: 10px;
  padding: 10px;
  margin: 10px 0;
}

.comment p {
  margin: 0 0 10px;
}

.comment div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.comment button,
.comment-list button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 9px;
}
.comment button:hover {
  background-color: #0056b3;
}

.comment input[type="text"],
.comment-list input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1;
}

.comment input[type="text"]::placeholder {
  color: #aaa;
}

.comment input[type="text"]:focus {
  border-color: #007bff;
}

.comment input[type="text"] + button,
.comment-list input[type="text"] + button {
  margin-left: 10px;
}

.comment .reply {
  margin-left: 20px;
}
.comment .reply-box {
  margin-top: 10px;
}

.comment-list input {
  width: 80%;
}

.userDetails {
  display: flex;
  overflow: hidden;
  padding-right: 1.6rem;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

.profilePic {
  height: 25px;
  width: 25px;
  border-radius: 20px;
}
