body {
  margin: 0;
  font-family: Optimistic Text, -apple-system, ui-sans-serif, system-ui,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --tw-text-opacity: 1;
  color: rgb(64 71 86 / var(--tw-text-opacity));
  background-color: #f8f9f9;
}
p {
  font-weight: 400;
  overflow-wrap: break-word;
}
